
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@700&family=Varela+Round&display=swap');

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;

    font-family: "Varela Round", sans-serif;
}

body {
    background-image: url('img/bg.jpg');
    background-size: contain;
}

a {
    font-size: 1.2rem;
    font-weight: bold;

    text-decoration: none !important;
    color: #544734 !important;
}

a:hover {
    text-decoration: none !important;
    color:  #544734 !important;
}

nav {
    position: fixed;
    background-color: #ffffffdd;
    border-bottom: 3px solid #e17575;
    /* border-image: url('img/493.jpg') 7 round; */
    z-index: 50;
    font-weight: bold;
    /* background-image: url('img/493.jpg'); */
}

#navbar-vertical {
    position: fixed;
    width: 20rem;
}

.menu-ico {
    cursor: pointer;
}

.title-bg {
    height: 38rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-bg span {
    color: #544734;
    font-weight: bold;
    font-size: 4.5rem;
    transform: translateY(3rem);
}

.image-title {
    background-image: url('img/493.jpg');
    width: 31rem;
    height: 1rem;
    position: absolute;

    transform: translatey(5.7rem);
    z-index: -1;
}

.quienes-somos {
    /* margin-top: -3rem; */
    /* margin-bottom: 2rem; */
    padding: 1rem;
    max-width: 60rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #544734;
}

.qs-image-1 {
    background-image: url('img/bacalao.jpg');
    width: 333px;
    height: 249px;
}

.section-title {
    color: #544734;
    font-weight: bold;
    font-size: 2.7rem;
}

#title {
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
	0% {
		transform: translatey(0rem);
	}
	50% {
		transform: translatey(-1rem);
	}
	100% {
		transform: translatey(0rem);
	}
}

@keyframes navbar-hor-hide {
	0% {
		top: 0px;
	}
	100% {
		top: -100px;
	}
}

@keyframes navbar-hor-show {
	0% {
		top: -100px;
	}
	100% {
		top: 0px;
	}
}

@keyframes navbar-ver-hide {
	0% {
		left: 0px;
	}
	100% {
		left: -20rem;
	}
}

@keyframes navbar-ver-show {
	0% {
		left: -20rem;
	}
	100% {
		left: 0px;
	}
}

.ns-section {
    background-color: #46351e;
    font-weight: bold;
    color: white;
    font-size: 1.3rem;

    height: 5rem;
    max-width: 242px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.ns-p {
    color: #fff8ee;
    font-weight: bold;
    font-size: 1.5rem;

    max-width: 70rem;
}

#ns-title {
    color: #fff8ee;
}

.c-container {
    background-color: #3a5a40;
    font-weight: bold;
}

.c-section {  
    width: 20rem;
    min-width: 5rem;
    color: white;
}

.c-section-l {  
    width: 34rem;
    min-width: 5rem;
    color: white;
}

i {
    font-size: 1.5rem;
    position: relative;
    top: 0.25rem;
}

.map {
    min-width: 20rem;
    height: 25rem;
}

.ns-container {
    background-color: #b5838d;
}



.row-ph {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column-ph {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column-ph img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 1200px) {
    .column-ph {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .column-ph {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }