
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@700&family=Varela+Round&display=swap');

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;

    font-family: "Varela Round", sans-serif;
}

a {
    font-size: 1.2rem;
    font-weight: bold;

    text-decoration: none !important;
    color: #544734 !important;
}

a:hover {
    text-decoration: none !important;
    color:  #544734 !important;
}

nav {
    position: fixed;
    background-color: white;
    border-bottom: 3px solid #9cd8ce;
    /* border-image: url('img/493.jpg') 7 round; */
    z-index: 50;
    font-weight: bold;
    /* background-image: url('img/493.jpg'); */
}

.title-bg {
    height: 38rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-bg span {
    color: #544734;
    font-weight: bold;
    font-size: 4.5rem;
    transform: translateY(3rem);
}

.image-title {
    background-image: url('img/493.jpg');
    width: 31rem;
    height: 1rem;
    position: absolute;

    transform: translatey(5.7rem);
    z-index: -1;
}

.quienes-somos {
    /* margin-top: -3rem; */
    /* margin-bottom: 2rem; */
    padding: 1rem;
    max-width: 60rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #544734;
}

.qs-image-1 {
    background-image: url('img/bacalao.jpg');
    width: 333px;
    height: 249px;
}

.section-title {
    color: #544734;
    font-weight: bold;
    font-size: 2.5rem;
}

#title {
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

@keyframes navbar-hide {
	0% {
		top: 0px;
	}
	100% {
		top: -100px;
	}
}

@keyframes navbar-show {
	0% {
		top: -100px;
	}
	100% {
		top: 0px;
	}
}